<main>
    <div class="m-3" *ngIf="user && (customers || users)">
        <p>Logged In as {{ user.username }}</p>
        <!-- {{ users | json }} -->
        <table>
            <caption>All Customers</caption>
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>Country</th>
            </tr>
            <tr *ngFor="let customer of customers.records | paginate: { itemsPerPage: 5, currentPage: page }">
                <td>{{ customer.Name }}</td>
                <td>{{ customer.City }}</td>
                <td>{{ customer.Country }}</td>
                
            </tr>
        </table>
        
        <!-- <table>
            <caption>All Users</caption>
            <tr>
                <th>Username</th>
                <th>Email</th>
            </tr>
            <tr *ngFor="let a_user of users ">
                <td>{{ a_user.username }}</td>
                <td>{{ a_user.email }}</td>
            </tr>
        </table> -->
        <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
    <div *ngIf="!user">
        Please
        <a href="login">login</a>
        or
        <a href="signup">Signup</a>
    </div>
</main>
