body{
    color: white;
}
.container {
    display: grid;
    height: 800px;
    width: 50%;
    grid-template-areas:
    "h h h h h h h h h h h"
    "s s s c1 c1 c1 c1 c1 c1 c1 c1"
    "s s s c1 c1 c1 c1 c1 c1 c1 c1"
    "s s s c2 c2 c2 c2 c3 c3 c3 c3"
    "s s s c2 c2 c2 c2 c3 c3 c3 c3"
    "f f f f f f f f f f f";
    grid-gap:3px;
}
@media only screen and (max-width: 600px) {
    .container {
      height: 400px;
      width: 100%;
      grid-template-areas: 
      "h h h h  h h h h h h h"
      "h h h h  h h h h h h h"
      "h h h h  h h h h h h h"
      "s s s s s s s s s s s"
      "s s s s s s s s s s s"
      "c1 c1 c1 c1 c1 c1 c1 c1 c1 c1 c1"
      "c1 c1 c1 c1 c1 c1 c1 c1 c1 c1 c1"
      "c1 c1 c1 c1 c1 c1 c1 c1 c1 c1 c1"
      "c2 c2 c2 c2 c2 c3 c3 c3 c3 c3 c3"
      "c2 c2 c2 c2 c2 c3 c3 c3 c3 c3 c3"
      "f f f f f f f f f f f"
      "f f f f f f f f f f f"
      "f f f f f f f f f f f";
    }
  }


.container>*{
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    font-size: 20px
}

.header{
    grid-area: h;
    background-image: linear-gradient(to right, #6D53D9 , #8F7CE3);
}

.sidebar{
    grid-area: s;
    background-image: linear-gradient(#3BDBD3 , #2BA9A2);

}

.content1{
    grid-area: c1;
    background-image: linear-gradient(to bottom right, #6857DB , #36D1E0);

}

.content2{
    grid-area: c2;
    background-image: linear-gradient(to bottom right, #655ADC , #2BC0ED);

}

.content3{
    grid-area: c3;
    background-image: linear-gradient(to bottom right, #6658DB , #28BAF1);
}

.footer{
    grid-area: f;
    background-image: linear-gradient(to right, #6D53D9 , #8F7CE3);
}