@font-face {
    font-family: QuicksandBold;
    src: url(../quicksand/static/Quicksand-Bold.tff);
}
@font-face {
    font-family: QuicksandLight;
    src: url(../quicksand/static/Quicksand-Light.ttf);
}
@font-face {
    font-family: QuicksandMedium;
    src: url(../quicksand/static/Quicksand-Medium.ttf);
}
@font-face {
    font-family: QuicksandRegular;
    src: url(../quicksand/static/Quicksand-Regular.ttf);
}
@font-face {
    font-family: QuicksandSemibold;
    src: url(../quicksand/static/Quicksand-SemiBold.ttf);
}
