main{
    .container{
        margin: 24px;
        .header-tab{
            height: 64px;
            background-color: #8DDC97;
            display: flex;
            justify-content: center;
            .header-tab-heading{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                img{
                    &:nth-child(1){
                        height: 32px;
                        width: 29px;
                    }
                    margin: auto 4px;
                }
                h2{
                    margin: auto 4px;
                }
                h3{
                    margin: auto 4px;
                }
            }
            .active-tab{
                border-bottom: 4px solid black;
            }
        }
        .details{
            display: flex;
            justify-content: space-between;
            margin: 24px 0 17px 0;
            .results{
                margin-top: auto;
            }
            .sort{
                display: flex;
                justify-content: center;
                align-items: center;
                input{
                    border: none;
                    font-size: 20px;
                    border-bottom: 1px solid #00000031;
                }
                img{
                    &:nth-child(1), &:nth-child(2){

                    }
                    &:nth-child(3){
                        border-bottom: 1px solid #00000031;
                    }
                    &:nth-child(4){
                        margin-left: 24px;
                    }
                }
            }
        }
        .courses{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(476px, 1fr));
            grid-template-rows: repeat(auto, minmax(246px, 1fr));
            grid-auto-rows: 246px;
            margin: 16px 0 32px 0;
            grid-gap: 24px;
            .item{
                padding: 24px 24px 9px 24px;
                &:nth-child(3){
                    .course-navigation{
                        display: flex;
                        justify-content: space-around;
                        height: 33px;
                        align-items: flex-end;
                        border-top: 1px solid rgba(0, 0, 0, 0.12);
                        margin-top: 4px;
                    }
                }
                &:nth-child(4){
                    padding-top: 0;
                    padding-left: 0;
                    .course-content, .course-navigation{
                        padding-left: 0;
                        margin-left: 24px;
                    }
                }
                .expired{
                    background-color: #FFFFFF;
                    margin-bottom: 6px;
                    margin-top: 0;
                    display: flex;
                    justify-content: flex-start;
                    p{
                        background-color: #FFE4E6 ;
                        color: #D80000;
                        margin: 0;
                    }
                }
                .course-content{
                    display: flex;
                    .course-image{
                        img{

                        }
                    }
                    .course-details{
                        margin-left: 16px;
                        width: 100%;
                        .course-heading{
                            display: flex;
                            justify-content: space-between;
                            margin: 0;
                            h3{
                                display: flex;
                                justify-content: center;
                                margin: 0 auto 7px 0;
                            }
                            img{
                                .star{
                                    margin:0;
                                    padding: 0;
                                    height: 24px;
                                    width: 20px;
                                    display: flex;
                                    align-items: flex-start;
                                }
                            }
                        }
                        .subject{
                            display: flex;
                            margin: 0 auto 7px 0;
                            p{
                                margin: 0 6px 0 0;
                            }
                        }
                        .subject-details{
                            display: flex;
                            margin: 0 auto 18px 0;
                            p{
                                margin: 0 6px 0 0;
                                &:nth-child(3){
                                    color: #1F7A54;
                                }
                            }
                        }
                        .class{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                            margin-bottom: 8px;
                            input{
                                font-size: 20px;
                                border: none;
                                border-bottom: 1px solid rgba(0, 0, 0, 0.384);
                                display: flex;
                                width: 100%;
                            }
                            img{
                                border-bottom: 1px solid rgba(0, 0, 0, 0.384);
                            }
                        }
                        .class-details{
                            display: flex;
                            p{
                                margin-top:0;
                                margin-bottom:0;
                                &:nth-child(1){
                                    margin-right: 17px;
                                }
                            }
                        }

                    }
                }
                .course-navigation{
                    display: flex;
                    justify-content: space-around;
                    height: 33px;
                    align-items: flex-end;
                    border-top: 1px solid rgba(0, 0, 0, 0.12);
                    margin-top: 16px;
                }
            }
        }
    }
}
.disabled{
    opacity: 40%;
}