<footer>
    <nav role="navigation">
        <div class="reach-us">
            <ul>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <div class="vl"></div>
                </li>
                <li>
                    <a href="#contactUs">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="basic-details">
            <ul>
                <li>
                    <a href="#" role="link">
                        <object data="assets/icons/logo-used-in-footer.svg" type="image/svg+xml"></object>
                    </a>
                </li>
                <li>
                    <div class="vl"></div>
                </li>
                <li class="footertext" aria-label="Copyright">
                    Copyright © 2020-2021
                </li>
                <li class="footertext zeussystems" aria-label="Company Details">
                    Zeus Systems Pvt. Ltd.
                </li>
                <li class="footertext" aria-label="Rights">
                    All rights reserved.
                </li>
            </ul>
        </div>
    </nav>
</footer>