html{
    header{
        nav{
            background-color: grey;
            div{
                width: 100%;
                height: 56px;
                display: flex;
                justify-content: center;
            }
        }
    }
}